// Define variables for your color scheme

// For example:
$blue: #5AC2C9;
$yellow: #FAD148;
$white: #ffffff;
$gray: #0E0000;
$purple:#7A75FC;

$red:#EA5556;
$orange: #F19A71;
$green: #74CF44;
$light-gray: #CCCCCC;
$pink:#E8467F;