<div class="card-trip mt-4">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2><%= title %></h2>
      <p><%= category %></p>
    </div>
    <h2 class="card-trip-pricing">R$ <%= price %></h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>