<div class="footer">
    <%= link_to("https://github.com/jmschp/kids-time", target: "blank") do %>
      <i class='fab fa-github'></i>
    <% end %>
    <p>Kids Time <i class="fas fa-heart"></i></p>
</div>
