<!-- code a container section -->
<div class="login-banner">
  <div class="container">
    <h3>Você criativo na educação do seus filhos</h3>
    <p>Estamos aqui para lhe você encontrar em 5 min atividades criativas para o desenvolvimento do seu filho. Junte-se a nossa comunidade de pais criativos!</p>
    <div class="login-banner-icons">
      <p><i class="fas fa-camera-retro"></i> MOMENTOS INESQUECIVEIS</p>
      <p><i class="fas fa-child"></i> ATIVIDADES ADAPTADAS A IDADE DO SEU FILHO</p>
      <p><i class="fas fa-smile-wink"></i> TESTADAS E APROVADAS POR OUTROS PAIS</p>
    </div>
  </div>
</div>
