<div class="container">
    <div class="navbar-lewagon flexbox">
    <%= image_tag "logokidstime.png" %>
    <%= link_to('Activities', activities_path) %>
    <%= link_to("Login / Sign up", user_session_path, class: 'btn-tag8') %>
    <%= link_to('Log-out', destroy_user_session_path, { method: 'delete' } ) %>
    </div>
</div>
