<div class="container col-6">
  <div class="d-flex container bg-info align-items-center " >
    <div class="container col-10 mt-4 mb-4 row align-items-center justify-content-center" style= "border-radius: 10px; height: 350px;background-color: white; padding-left: 30px;">
      <h5 style="text-align: center;">Sua encomenda foi aprovada!</h5>
      <iframe class="fixed-ratio-resize" style= " max-width: 100%;height: auto; width: auto\9;" src="https://giphy.com/embed/BwX4rgf3rfWz6" width="480" height="480" frameBorder="0" ></iframe>
    </div>
  </div>
</div>
