<!-- code a container section -->
<div class="banner flexbox">
  <div class="container_custom_2">
    <h3>Você criativo na educação do seus filhos</h3>
    <p>Estamos aqui para lhe você encontrar em 5 min atividades criativas para o desenvolvimento do seu filho. Junte-se a nossa comunidade de pais criativos!</p>
     <div class="row d-flex justify-content-between p-2">
      <div class="iconbox">
        <i class="fas fa-camera-retro hvr-grow" style="color:#7A75FC;"></i>
        <p style="color:#7A75FC;">MOMENTOS INESQUECIVEIS</p>
      </div>
      <div class="iconbox">
        <i class="fas fa-child hvr-grow" style="color:#7A75FC;"></i>
        <p style="color:#7A75FC;">ATIVIDADES ADAPTADAS A IDADE DO SEU FILHO</p>
      </div>
      <div class="iconbox">
        <i class="far fa-grin-wink hvr-grow" style="color:#7A75FC;"></i>
        <p style="color:#7A75FC;">TESTADAS E APROVADAS POR OUTROS PAIS</p>
      </div>
    </div>
  </div>
</div>

