<div class="container mt-3">
  <div class="d-flex justify-content-between flex-wrap">
  <div class="card-product">
  <%= image_tag('foto.jpg') %>
  <div class="card-product-infos">
    <h2><%= @user.name %></h2>
    <p><%= @user.email %></p>
  </div>
</div>
    <% @user_orders.each do |order| %>
      <%= render('shared/card-activity', title: order.activity.title, category: order.activity.category, price: order.activity.price) %>
    <% end%>
  </div>
</div>
