<div class="container mt-4">
  <div class="profile-card">
    <%= image_tag "foto.jpg", class: "avatar-large", alt: "avatar-large" %>
    <div class="profile-card-infos">
      <h6><%= @user.name %></h4>
      <p>9 feedbacks <br> Identidade verificada</p>
    </div>
  </div>
</div>
