<div class="container mt-4">

  <div class="d-flex">
    <div class="user-profile-card mr-3">
      <div class="user-profile-card-avatar">
        <%= cl_image_tag(@user.photo.key, transformation: [{width: 400, height: 400, gravity: "face", radius: "max", crop: "fill", quality: 80}, {width: 150, crop: "scale"}], class: "avatar-large") %>
        <h5><%= @user.name %></h5>
      </div>
      <div class="user-profile-card-infos">
        <p><i class="fas fa-star star-profile"></i> 9 Reviews <br>
          <i class="fas fa-check check-profile"></i> Identidade verificada</p>
      </div>
      <div class="user-profile-card-links">
        <%= link_to('#') do %>
          <p><i class="fas fa-list-ol"></i> Minha wishlist</p>
        <% end %>
      </div>
    </div>
    
  </div>
</div>
