.show-page-content {
  flex: 1 0 auto;
  // background-color: $white;
  display: grid;
  grid-template-rows: 400px 0.2fr 1fr 200px;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  grid-template-areas:
    "images images"
    "title title"
    "content booking"
    "map map";
}

.images {
  grid-area: images;
  img {
    margin: auto;
    display: block;
  }
}

.act-title {
  grid-area: title;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  i {
    font-size: 1.2rem;
  }
  .fa-edit {
    color: $purple;
  }
  .fa-trash {
    color: $red;
  }
}

.content {
  grid-area: content;
  p {
    text-align: justify;
  }
  h6 {
    display: inline;
    margin: 0 0.5rem 0 0;
  }
}
.act-specs {
  display: flex;
  flex-wrap: wrap;
  span {
    margin: 0 1.5rem 0 0;
  }
}

.booking {
  grid-area: booking;
  text-align: right;
}

.map-show {
  grid-area: map;
}
