.profile-card {
    background-color: $yellow;
    width: 250px;
    height: 500px;
    border-radius: 10px;
    // text-align: center;
    padding-top: 50px;
    .avatar-large {
        align-content: center;
    }
}


.profile-card-infos {
    // margin-top: 50px;
}