.user-profile-card {
  background-color: $yellow;
  width: 25%;
  padding: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
}

.user-profile-card-avatar {
  text-align: center;
  img {
    margin-bottom: 10px;
  }
  h5 {
    margin-bottom: 10px;
  }
}

.user-profile-card-infos {
  margin: 10px 25px;
  border-bottom: 1px solid $light-gray;
  .star-profile {
    color: $purple;
  }
  .check-profile {
    color: $green;
  }
}

.user-profile-card-links {
  margin: 10px 25px;
  a {
    color: $gray;
  }
}