// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


/* Utilities */
body {
  // margin: 0;
  font-family: $body-font;
  background-color: $white;
}

<<<<<<< HEAD
=======
h1, h2, h3, h4, h5, h6 {
  font-family: $body-font;
}

>>>>>>> 87330ffe4fdda092b39c3994115d44aba7bb6521
a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}
