<div class="container mt-5">
  <div class="d-flex justify-content-around flex-wrap">
    <% @activities.each do |activity| %>
      <%= link_to(activity_path(activity)) do %>
        <%= render('shared/card-activity', title: activity.title, category: activity.category, price: activity.price) %>
       <% end %>
    <% end %>
  </div>
</div>
