<div class="index-page-content">
  <div class="title">
    <h3>Como podemos lhe ajudar hoje?</h3>
    <p>Escolhe uma categoria</p>
  </div>
  <div class="category">
    <% Activity::ACTIVITY_CATEGORIES.each do |category| %>
      <div>
        <%= link_to("#{category}", activities_path(category: "#{category}"), class: "btn-category") %>
      </div>
    <% end %>
  </div>
  <div class="content">
    <div class="cards">
      <% @activities.each do |activity| %>
        <%= render('shared/card-activity', act_photos: activity.photos.present? ? activity.photos : false, title: activity.title, category: activity.category, price: activity.price, act_user_photo:  activity.user.photo.present? ? activity.user.photo.key : false) %>
      <% end %>
    </div>
    <div class="map">
    </div>
  </div>
</div>
